*{
    text-align: center;
    font-size: larger;
}

h1{
    color: #ff0000;
}

.bold{
    font-weight: bold;
}

.underline{
    text-decoration: underline;
}

.crossed{
    text-decoration: line-through;
    font-size: 24px;
}

.bgcolor{
    background-color: #fff000;
}

.line{
  border: none;
  height: 4px;
  width: 65%;
  background-color: #008000;
}