body {
  font-family: "Arial";
  background-color: #f6f8ff;
  margin: 0;
  padding: 0;
  color: #222;
}

.wrapper {
  width: 1140px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
}

.header {
  margin-bottom: 25px;
}

/* Clear для підгонки хедера під плаваючі елементи*/
.header::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  float: left; 
}

.logo img {
  width: 70px;
  height: 70px;
  vertical-align: middle; 
}

.menu {
  float: right; 
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  float: left;
  margin-left: 15px;
}

/* забрали відступ у першого елем */
.menu li:first-child {
  margin-left: 0;
}

.menu a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f5b2a8;
  color: #000;
  text-decoration: none;
}

.blocks-container {
  padding-top: 10px;
}

.block {
  float: left;
  width: 300px;
  min-height: 140px;
  box-sizing: border-box;
  padding: 15px;
  margin: 20px;
  font-size: 14px;
}
.block p {
  margin: 0;
}

.block-1 {
  border: 2px solid #6c6;
  border-radius: 15px;
}

.block-2 {
  border: 2px solid #6c6;
  border-radius: 40px;
}

.block-3 {
  border: 2px solid #6c6;
  border-radius: 40px 0 40px 0;
}

.block-4 {
  border: 10px solid #6b9;
  border-right-color: #386;
  border-bottom-color: #386;
  border-radius: 10px;
}

.block-5 {
  border: 10px solid #383;
  border-right-color: #262;
  border-bottom-color: #262;
  border-radius: 10px 40% 10px 40%;
}

.block-6 {
  border: 10px solid #6b9;
  border-top-color: #386;
  border-left-color: #386;
  border-radius: 40% 10px 40% 10px;
}

.block-7 {
  border-image-slice: 28 25 27 27;
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url('border-image-1.png');
  border-style: solid;
}

.block-8 {
  float: left;
  margin: 20px;
  padding: 20px;
  width: 300px;
  border-image-slice: 13 13 13 13;
  border-image-width: 15px 15px 15px 15px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: round;
  border-image-source: url('https://mdn.github.io/css-examples/tools/border-image-generator/border-image-1.png');
  border-style: solid;
}

.block-9 {
  float: left;
  margin: 20px;
  padding: 20px;
  width: 300px;
  border-image-slice: 27 27 27 27;
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: round round;
  border-image-source: url('https://mdn.github.io/css-examples/tools/border-image-generator/border-image-1.png');
  border-style: solid;
}

.block-11 {
  border: 12px solid transparent;
  border-image: url('circle.png') 8 round;
}

.block-10 {
  border-image-slice: 27 27 27 27;
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url(paint.png);
}

.block-12 {
  border-image-slice: 27 34 27 18;
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url(long-round.png);
}